/*  PAGE D'ACCEUIL */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
:root {
  --violet: #9356DC;
  --pink: #FF79DA;
  --green: #99E2D0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #F3F3F3;
}

::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 25px;
}

/* loader */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.05s;
  animation-delay: 2.45s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animations keyframes */
}
.loader h1 {
  position: absolute;
  font-family: "Shrikhand", sans-serif;
  font-size: 80px;
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  border: solid 8px var(--pink);
  opacity: 0.8;
  border-radius: 30px;
  box-shadow: 10px 30px 10px 10px #9c9c9c;
}
@media (max-width: 450px) {
  .loader h1 {
    font-size: 26px;
  }
}
.loader__item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  animation: move 1.55s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 30%;
  justify-content: space-around;
}
@media (max-width: 450px) {
  .loader__itemContainer {
    width: 40%;
  }
}
.loader__item--1 {
  background-color: var(--green);
}
.loader__item--2 {
  background-color: var(--pink);
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: var(--violet);
  animation-delay: 0.5s;
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes move {
  0% {
    transform: translateY(1rem);
  }
  20% {
    transform: translateY(4rem);
  }
  80% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}

/* header */
.header .header-bg {
  background: #F3F3F3;
}
.header .header-bg .header-description {
  padding: 3rem 1rem 1.2rem 1rem;
  background: rgba(243, 243, 243, 0.4);
  text-align: center;
}
.header .header-bg .header-description h2 {
  margin-bottom: 1.2rem;
  font-size: 24px;
}
.header .header-bg .header-description h3 {
  margin-bottom: -2rem;
  font-size: 1.1rem;
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
}
.header .header-container {
  padding: 2rem;
  margin: 2rem;
}
.header .header-container h4 {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 450px) {
  .header .header-container h4 {
    margin-left: -50px;
  }
}
.header .header-container .function {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
  justify-items: flex-start;
  justify-content: center;
}
@media only screen and (min-width: 991px) {
  .header .header-container .function {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3rem;
    justify-items: center;
    padding-right: 10px;
  }
}
.header .header-container .function .choice {
  display: flex;
  align-items: baseline;
  width: 100%;
  white-space: nowrap;
  padding: 20px 20px 20px 20px;
  background: #F3F3F3;
  border-radius: 20px;
  box-shadow: 8px 8px 8px -7px #00000075;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header .header-container .function .choice:hover {
  transition: all 250ms ease-in-out;
  background: rgba(147, 86, 220, 0.15);
  filter: saturate(100%);
  box-shadow: 1px 3px 6px 1px #9c9c9c;
}
.header .header-container .function .choice:hover:hover :nth-child(2) {
  color: var(--violet);
}
.header .header-container .function .choice p {
  margin-left: -17px;
  padding: 4px 9px;
  background: var(--violet);
  border-radius: 50%;
  color: white;
  transform: translateX(-18px) translateY(1px);
}
.header .header-container .function .choice i {
  margin-right: 1rem;
  font-size: 16px;
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.397);
}
.header .header-container .function .choice span {
  opacity: 0.7;
  font-weight: bold;
}
.header h1 {
  position: relative;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Shrikhand", sans-serif;
}
@media (max-width: 991px) {
  .header h1 {
    font-size: 2rem;
  }
}
.header .header-location {
  padding-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeded;
  color: black;
}
.header .header-location input {
  background: rgba(243, 243, 243, 0.4);
  padding: 1.5rem 0;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.header .header-location input::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.header .header-location input:focus {
  outline: none;
}
.header .header-location i {
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
}

/* section restaurants */
.restaurants {
  display: flex;
  flex-wrap: wrap;
  background: #F3F3F3;
  padding-top: 50px;
  padding-bottom: 50px;
}
.restaurants h2 {
  margin-left: 150px;
  font-size: 26px;
  font-weight: bold;
}
@media (max-width: 450px) {
  .restaurants h2 {
    margin-left: 10px;
  }
}
.restaurants .container {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants .container .box-cards {
  margin-top: 50px;
  margin-right: 10px;
  width: 700px;
  position: relative;
  height: 300px;
  border-radius: 1rem;
  box-shadow: 3px 3px 6px 3px #b4b4b4;
}
@media (max-width: 1616px) {
  .restaurants .container .box-cards {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 1089px) {
  .restaurants .container .box-cards {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 450px) {
  .restaurants .container .box-cards {
    width: 100%;
    height: 250px;
  }
}
.restaurants .container .box-cards:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.01);
  box-shadow: 4px 4px 7px 4px #b4b4b4;
}
.restaurants .container .box-cards a {
  cursor: pointer;
}
.restaurants .container .box-cards a span {
  display: block;
  width: auto;
  position: absolute;
  right: 15px;
  top: 15px;
  justify-content: initial;
  background: var(--green);
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.restaurants .container .box-cards a img {
  height: 220px;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
@media (max-width: 1089px) {
  .restaurants .container .box-cards a img {
    width: 100%;
    height: 220px;
  }
}
@media (max-width: 450px) {
  .restaurants .container .box-cards a img {
    width: 100%;
    height: 180px;
  }
}
.restaurants .container .box-cards a .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.restaurants .container .box-cards a .description h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}
.restaurants .container .box-cards a .description p {
  position: absolute;
  padding-top: 50px;
  color: #333;
}
.restaurants .container .box-cards a .description .far.fa-heart {
  color: #333;
  font-size: 30px;
  opacity: 1;
  transition: 0.2s ease-out;
}
@media (max-width: 991px) {
  .restaurants .container .box-cards a .description .far.fa-heart {
    font-size: 26px;
  }
}
.restaurants .container .box-cards a .description .far.fa-heart:hover {
  animation: 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/*  section footer */
.footer {
  padding-left: 50px;
  background: #353535;
  height: 255px;
  display: flex;
  flex-direction: column;
}
.footer h4 {
  text-align: center;
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 30px;
}
@media (max-width: 991px) {
  .footer h4 {
    font-size: 22px;
    text-align: left;
  }
}
.footer .footer-container {
  padding-top: 40px;
  display: flex;
  margin-top: 20px;
  color: #fff;
  justify-content: space-around;
}
@media (max-width: 991px) {
  .footer .footer-container {
    display: grid;
    padding-top: 0;
    margin-top: 20px;
    color: #fff;
    justify-content: left;
  }
}
.footer .footer-container a {
  display: flex;
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
}
.footer .footer-container a:hover {
  color: var(--pink);
}
.footer .footer-container .footer-info {
  padding-bottom: 10px;
}
.footer .footer-container .footer-info i {
  color: #fff;
}
.footer .footer-container .footer-info i:hover {
  color: var(--pink);
}
.footer .footer-container .footer-info i span {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 15px;
  font-weight: 400;
}

/* Page restaurants */
/* section header */
.header-restaurant {
  display: flex;
  justify-content: center;
}
.header-restaurant a {
  color: black;
}
.header-restaurant h1 {
  position: relative;
  padding: 1rem 0;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Shrikhand", sans-serif;
}
@media (max-width: 991px) {
  .header-restaurant h1 {
    font-size: 2rem;
  }
}
.header-restaurant .fa-sm {
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 30px;
}
@media (max-width: 991px) {
  .header-restaurant .fa-sm {
    top: 30px;
    font-size: 20px;
  }
}

/* section banner */
.banner .banner-img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 600px;
}

/* section menu */
.box-container {
  max-width: 1280px;
  margin: auto;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.box-container .box-menu-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 1rem;
}
.box-container .box-menu-title h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 26px;
  padding-top: 1rem;
  font-weight: 500;
}
.box-container .box-menu-title .far.fa-heart {
  margin-top: 15px;
  cursor: pointer;
  color: #333;
  font-size: 40px;
  opacity: 1;
  transition: 0.2s ease-out;
}
@media (max-width: 991px) {
  .box-container .box-menu-title .far.fa-heart {
    font-size: 26px;
  }
}
.box-container .box-menu-title .far.fa-heart:hover {
  animation: 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.box-container .box-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1180px) {
  .box-container .box-menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
.box-container .box-menu .menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
}
.box-container .box-menu .menu h3 {
  margin-bottom: -1rem;
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.box-container .box-menu .menu h3:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: var(--green);
  position: absolute;
  left: 0;
  bottom: 0;
}
@keyframes itemshow {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
.box-container .box-menu .menu .menu-item {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
  animation: itemshow 4.5s forwards;
  max-width: 100%;
}
.box-container .box-menu .menu .menu-item:hover :nth-child(3) {
  margin-right: -16px;
}
.box-container .box-menu .menu .menu-item:hover :nth-child(3) :nth-child(1) {
  transform: rotate(360deg);
}
.box-container .box-menu .menu .menu-item .menu-description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.box-container .box-menu .menu .menu-item .menu-description h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-container .box-menu .menu .menu-item .menu-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}
@media (max-width: 410px) {
  .box-container .box-menu .menu .menu-item .menu-description p {
    font-size: 14px;
    margin-right: -1rem;
    padding-right: 1rem;
  }
}
.box-container .box-menu .menu .menu-item .price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.box-container .box-menu .menu .menu-item .ckecked {
  position: relative;
  background-color: var(--green);
  color: var(--green);
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.box-container .box-menu .menu .menu-item .ckecked .icon {
  overflow: hidden;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition-duration: 0.5s;
}

.command {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}
.command .btn {
  min-width: 180px;
  border: 0;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.command .btn:hover {
  transition: all 250ms linear;
  opacity: 0.8;
  transform: scale(1);
  box-shadow: 1px 3px 6px 1px rgba(5, 5, 5, 0.5);
}

/*# sourceMappingURL=style.css.map */
